h5py==3.9.0
itk==5.3.0
matplotlib 
monai 
numpy 
opencv-python
openpyxl
openslide-python
pandas
Pillow 
prettytable
PyYAML 
scikit-image
scikit-learn
scipy 
seaborn
SimpleITK
tensorboard
tensorboardX==2.6
torchmetrics 
torchsummary
tqdm

